table {
    border-collapse: collapse;
    margin-top: 100px;
    height: 300px;
    width: 300px;
    margin-left: 32%;
    border: none;
  }
td {
    padding: 4px;
    width: 20px;
    height: 20px;
    text-align: center;
    transition: 0.5s;
}
body{
    /* background-color: aqua; */
    background-image: url('https://t3.ftcdn.net/jpg/04/06/60/94/360_F_406609490_6XTEHYNqcfqNbkQjN5B2kOy1yIYE5nD1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    text-align: center;
    color: antiquewhite;
}
.modal{
    display: none;
    border: solid 3px rgb(0, 0, 0);
    width: 300px;
    height: 200px;
    background-color: white;
    color: red;
    font-size: 30px;
    line-height: 50px;
    position: absolute;
    top: 200px;
    left: calc(50% - 150px);
}
/* button{
    background-color: rgb(255, 0, 0);
    
    /* display: block; */

.freeze{
    position: absolute;
    left: calc(50% - 50px);
    background-color: blue;
    display: block;
}
.restart{
    position: absolute;
    left: 40%;
    background-color: blue;
}